*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    min-height: 100vh;
    background: #fff;
    

}
.logo{
    

    letter-spacing: 2.5px;
    background: #E4DCCF;
    position: relative;
    
    
}
.logo h1{
    font-weight:bold;
    font-size: 40px;
    font-family: "monteserat",sans-serif;

}
.logo h2{
    
    font-size: 35px;
    font-family: 'Courgette', cursive;
    font-weight:bold;
    font-family: 'Bree Serif', serif;
    
}
.navigationBar{
    position: fixed;
    top:0;
    left: 20px;
    bottom: 20px;
    width: 350px;
    border-radius: 10px;
    background:#E4DCCF; 
    box-sizing: initial;
     border-left: 5px solid #E4DCCF; 
    transition: width 0.2s;
    overflow: hidden;
    height: 100vh;
    box-shadow: 0 6px 7px -4 rgba(0,0,0,0.2);
}

.navigationBar.active{
    width:300px;
}
.navigationBar ul{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
    font-size: larger;
    font-family: 'Rubik', sans-serif;
    font-style: oblique;
    
    
}
 .navigationBar ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}
.navigationBar ul li.active{
    background: #fff;
    color:#333;
} 
.navigationBar ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #1a120d;
    font-weight: 400;
    font-size: 22px;
    
    
}

.navigationBar ul li a:hover{
    
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
    text-decoration-color: #ecce9f;
}

.navigationBar ul li.active a{ 
    color:#333;
}
.navigationBar ul li a .title {
    display: block;
    padding-left: 10px;
    margin-left: 10px;
    height: 60px;
    line-height: 45px;
    white-space: normal;
}
.navigationBar ul li a .title >img{
    width: 30px;
    position: relative;
    top: 10px;
    right: 2px;
}
.toggleMenu{
    position: fixed;
    top: 85px;
     right: 20px; 
     left: 40px;
    width: 50px;
    height: 50px;
    
    background: #7D9D9C;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.toggleMenu.active{
    background: #7D9D9C;
    
}
.toggleMenu ion-icon{
    position: absolute;
    color: #fff;
    font-size: 34px;
    display: none;
}
.toggleMenu ion-icon.display,
.toggleMenu.active ion-icon.close{
    display: block;

}
.toggleMenu ion-icon.close,
.toggleMenu.active ion-icon.display{
    display: none;
}
