*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    min-height: 100vh;
    background: #fff;
    

}
.logo{
    
    margin-left: 40px;
    letter-spacing: 2.5px;
    
}
.logo h1{
    font-weight:bold;
    font-size: 50px;
    


}
.logo h2{
    
    font-size: 40px;
    font-family: 'Courgette', cursive;
    font-weight:bold;
    font-family: 'Bree Serif', serif;
    
}
.navigation{
    position: fixed;
    top: 140px;
    left: 20px;
    bottom: 20px;
    width: 300px;
    border-radius: 10px;
    background:#E4DCCF; 
    box-sizing: initial;
     border-left: 5px solid #E4DCCF; 
    transition: width 0.2s;
    overflow: hidden;
}
.navigation.active{
    width:300px;
}
.navigation ul{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
    font-size: larger;
    font-family: 'Rubik', sans-serif;
    font-style: oblique;
    
    
}
 .navigation ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}
.navigation ul li.active{
    background: #fff;
    color:#333;
} 
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #1a120d;
    font-weight: 400;
    font-size: 22px;
    
    
}
.navigation ul li.active a{ 
    color:#333;
}
.navigation ul li a .title {
    display: block;
    padding-left: 10px;
    margin-left: 10px;
    height: 60px;
    line-height: 45px;
    white-space: normal;
}
.navigation ul li a .title >img{
    width: 30px;
    position: relative;
    top: 10px;
    right: 2px;
}
.toggle{
    position: fixed;
    top: 150px;
    /* right: 20px; */
    left: 30px;
    width: 50px;
    height: 50px;
    
    background: #7D9D9C;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.toggle.active{
    background: #7D9D9C;
    
}
.toggle ion-icon{
    position: absolute;
    color: #fff;
    font-size: 34px;
    display: none;
}
.toggle ion-icon.open,
.toggle.active ion-icon.close{
    display: block;

}
.toggle ion-icon.close,
.toggle.active ion-icon.open{
    display: none;
}
