*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    min-height: 100vh;
    background: #fff;
    

}
.logo{
    
    margin-left: 40px;
    letter-spacing: 2.5px;
    
}
.logo h1{
    font-weight:bold;
    font-size: 50px;
    


}
.logo h2{
    
    font-size: 40px;
    font-family: 'Courgette', cursive;
    font-weight:bold;
    font-family: 'Bree Serif', serif;
    
}